<div class="col-sm-8 blog-main">
  <h2 class="section-heading"><%= @blog.title %></h2>
    <p><%= @blog.category.title %></p>
    <p>
      <%= @blog.body %>
    </p>
    <% if logged_in?(:site_admin) %>
      <%= link_to 'Edit', edit_blog_path(@blog) %>
    <% end %>
</div>
