<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <a href="<%= portfolio_show_path(portfolio_item) %>">
      <%= image_tag portfolio_item.image unless portfolio_item.image.nil? %>
    </a>

    <span class="portfolio-card-title">
      <%= portfolio_item.title %>
      <small class="text-muted">
        Published <%= distance_of_time_in_words(portfolio_item.created_at, Time.now) %> ago
      </small>
    </span>
  </div>
</div>
