<div id="photos_container">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="pagination">
        <%= paginate @portfolios %>
      </div>

      <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
        <%= render partial: "portfolio_item", collection:  @portfolios %>
      </div>
    </div>
  </div>
</div>
