<div class="album py-5 bg-light">
  <div class="container">
    <div class="pagination">
      <%= will_paginate @portfolios, :previous_label => ' ', :next_label => ' ' %>
    </div>

    <div class="row">
      <%= render partial: "portfolio_item", collection:  @portfolios %>
    </div>
  </div>
</div>
