<header class="masthead">
  <div class="overlay">
    <figure>
      <div class="slide">
        <img src="assets/foodbanner.jpg">
      </div>
      <div class="slide">
        <img src="assets/foodbanner2.jpg">
      </div>
      <div class="slide">
        <img src="assets/foodbanner.jpg">
      </div>
      <div class="slide">
        <img src="assets/foodbanner2.jpg">
      </div>
      <div class="slide">
        <img src="assets/foodbanner.jpg">
      </div>
    </figure>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>PalkaFoodie</h1>
          <span class="subheading">Culinary creations & Recipes by yours truly</span>
        </div>
      </div>
    </div>
  </div>
</header>
