@import "bootstrap";
@import "font-awesome";

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

// Custom Styles

.login > .card {
   width: 45rem;
   margin: 0 auto;
   float: none;
}

.login > .login-card {
  width: 22rem;
}

.login {
   padding-top: 200px;
}

.card-block {
   color: black;
   padding: 10px;
   text-align: left;
}

.mastfoot {
    bottom: 0;
}

html, body {
  height: 100%;
}

.login {
  min-height: 100%;
}

.auth-links a {
   color: black;
}

.social-link strong {
  font-size: 1.3em;
}

.paginate-style {
  text-align: center;
  margin: auto;
  margin-top: 25px;
}
